﻿@{
    ViewData["Title"] = "Home Page";
}

    
   
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            
            <div class="content">
                <h3>@ViewData["Message"]</h3>
                <h3>@ViewData["date"]</h3>
            </div>
        </h2>
 

        
    </div>
</div>