
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2>Chat</h2>

        <div class="ui form">
            <div class="field">
                <label>Text</label>
                <textarea class="ui fluid"></textarea>
            </div>
            <div class="field">
                <label>Short Text</label>
                <textarea rows="2"></textarea>
            </div>
        </div>
    </div>
</div>