@model WebApplication2.Models.Crypt
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">

            <div class="content">
                </br>
                <h3>@ViewData["Message"]</h3>
            </div>
        </h2>

        @using(Html.BeginForm("Index", "Crypt", FormMethod.Post))
        {

            <fieldset>
                <legend>Add string</legend>
                    Input crypt message: <br /> 
                    <div class="ui input">
                        <input class="ui input" type="text" name="EncryptMessage" maxlength="500" />
                    </div>
                    <br />
                    Input keyled alphabete: <br />
                    <div class="ui input">
                    <input class="ui input" type="text" name="keyed_alphabet" maxlength="500" />
                    </div>
                    <br />
                    <input class="positive ui button" type="submit" value="Send" />
</fieldset>
        }


        <div class="ui icon message">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                    @ViewData["MessageComp"]
                </div>
               
            </div>
        </div>
        
        
    </div>
</div>