@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">

            <div class="content">
                </br>
                <h3>@ViewData["Message"]</h3>
            </div>
        </h2>

        @using (Html.BeginForm("Index", "EnCrypt", FormMethod.Post))
        {

            <fieldset>
                <legend>Add string</legend>
                Input message: <br />
                <div class="ui input">
                    <input class="ui input" type="text" name="Message" maxlength="500" />
                    
                </div>
                
                <br />
                <input class="positive ui button" type="submit" value="Send" />
            </fieldset>
        }


        <div class="ui icon message">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                  
                    @ViewData["MessageComp"]
                    @ViewData["Key_alphabet"]
                </div>

            </div>
        </div>


    </div>
</div>